{{! This section is for the search form }}
<form action="/workouts/search" method="GET" class="mb-4">
  <div class="input-group">
    <input type="text" class="form-control" name="query" placeholder="Search workouts..." aria-label="Search workouts" required>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </div>
</form>

{{! The section below is for displaying the list of workouts }}
<h1 class="mb-4">Available Workouts</h1>
<div class="row">
  {{#each workouts}}
    <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
      <div class="card mb-4 w-100">
        {{#if this.image}}
          <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
        {{else}}
          {{! Default image in case there's no image for the workout }}
          <img src="/images/default-workout.jpg" class="card-img-top" alt="Default Image">
        {{/if}}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text flex-grow-1">{{this.description}}</p>
          {{! Additional buttons or links can be added here, for instance: }}
          <a href="/workouts/{{this.id}}" class="btn btn-primary mt-3">View Details</a>
        </div>
      </div>
    </div>
  {{else}}
    <div class="col-12">
      <p>No workouts found. Try adjusting your search criteria.</p>
    </div>
  {{/each}}
</div>
